:markdown

  ## Requirements

  - Affinity for managing and writing technical documentation
  - Understanding of what makes documentation good
  - Excellent writing skills
  - Great teaching skills that translate into amazing written work
  - Highly organized
  - Experience writing technical documentation for software
  - You share our [values](/handbook/values), and work in accordance with those values
